.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: 1px solid;
}
.bgParallaxImg {
  /* The image used */
  /* background-image: url("./assets/scenes/basketball-on-pitch.jpg"); */

  /* Set a specific height */
  height: 600px;
  opacity: 0.9;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
